label.btn {
  display: block;
  border: solid 3px;
  height: 20vh;
  width: 20vh;
  margin: 5px;
  background-color: coral;
}

.toppings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:left;
  margin: 5px;
}